.footer{
    width:75%;
    background-color: gray;
    margin-left: 4rem;

}
.footer>p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:50px;
    font-size: 1.5rem;
   
}
.rating{
    color:aliceblue;
}